@media (max-width:1150px){
    .nav-center a{
        padding: 8px 10px;
    }
}
@media (max-width:1025px){
    .nav-center,.nav-right {
        display: none;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 30% 20%;
        justify-content: space-between;
    }
    .dropdown{
        display:block;
    }
}
@media (max-width:950px)    {
    .nav-container{
        grid-template-columns: 30% 25%;
    }
}
@media (max-width:850px)    {
    .nav-container{
        grid-template-columns: 30% 30%;
    }
}
@media (max-width:750px)    {
    .nav-container{
        grid-template-columns: 30% 35%;
    }
}
@media (max-width:650px)    {
    .nav-container{
        grid-template-columns: 30% 40%;
    }
}
@media (max-width:550px)    {
    .nav-container{
        grid-template-columns: 30% 45%;
    }
}
@media (max-width:480px)   {
    .nav-container{
        grid-template-columns: 30% 50%;
    }
    .top-section{
        display: block;
        height: 90px;
        padding: 0 0 0 0;
        text-align: center;
    }
} 
@media (max-width:350px)    {
    .nav-container{
        grid-template-columns: 30% 55%;
    }
}

